
#title{
  background-color: #ff4c68;
  padding: 3% 15%;
}
.h1{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;

}
.h3{
  font-family: 'Montserrat', sans-serif;
}
.h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
.p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 0;
}
/* navbar */
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar{
  padding: 0 0 4.5rem;

}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-Light', sans-serif;
}
/* buttons */
.download-btn{
  margin: 5% 3% 5% 0;
}
/* title image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: relative;

}
/* features */
#features{
    padding: 2% 10%;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
  padding: 5%;
}
.icon{
  color:#ef8172;
}
.icon:hover{
  color: #ff4c68;
}
/* testimaonials */
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
}
/* press */
#press{
  background-color: #ef8172;
  text-align: center;
}
.press-img{
  width: 15%;
  margin: 2%;
}
/* carousel-item */
.carousel-item{
  padding: 5% 10%;
}
/* pricing */
.pricing-table{
  padding: 2% 5% 5% 5%;
}
#pricing{
  text-align: center;
  padding-top: 2%;
  font-family: 'Montserrat-Light', sans-serif;

}
.pricing-table h3,h2{
  font-family: 'Montserrat', sans-serif;
}
.pricing-table p{
  font-family: 'Montserrat-Light', sans-serif;
  color: #8f8f8f;
}
#p{
  font-family: 'Montserrat-Light', sans-serif;
}
.card{
  margin: 5%;
}
.cta-heading{
  font-family: 'Montserrat', sans-serif;
}
#cta{
  background-color: #ff4c68;
  font-family: 'Montserrat-Light', sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  padding: 5% 10%
}
#footer{
  text-align: center;
  font-family: 'Montserrat-Light', sans-serif;
  padding :5% 15%;
}
.footer-paragraph{
  font-size: 0.7rem;
}
.fab1{
  padding: 2%;
}
@media(max-width:1112px){
h1{
  text-align: center;
}
.title-img{
  transform: rotate(0deg);
  position: relative;
}
#title{
  text-align: center;
}
}
